<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-gray-300">
    <div class="container flex-wrap ">
      <div class="row ">
        <div class="flex flex-row flex justify-center mt-2">
          <img class="mx-2 h-20 w-40 rounded-full"  src="https://3.bp.blogspot.com/-_2r3OvNIQK0/VS1jx7iINII/AAAAAAAABgc/zCKeh0BiGFg/s1600/BanderaDeQatar.png" alt="">

        <h1 class="text-6xl text-center mt-2 text-slate-50 text-red-900 font-bold font-serif ">Grupo E</h1>
        <img class="mx-2 h-20 w-40 rounded-full"  src="https://3.bp.blogspot.com/-_2r3OvNIQK0/VS1jx7iINII/AAAAAAAABgc/zCKeh0BiGFg/s1600/BanderaDeQatar.png" alt="">
        </div> 

        <div class="flex flex-row flex justify-center mt-4 flex space-x-4">
            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000">Home</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoA">Grupo A</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoB">Grupo B</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoC">Grupo C</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoD">Grupo D</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoF">Grupo F</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoG">Grupo G</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoH">Grupo H</a>
        </div>

         <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://cdn.oem.com.mx/elesto/2019/01/futbol-mundial-qatar-2022-no-negocia-compartir-mundial-sus-vecinos-n349811-808x454-530198.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://www.futbolred.com/files/article_main/uploads/2018/07/13/5b489e7e27d4b.jpeg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://laopinion.com/wp-content/uploads/sites/3/2021/03/cuanto-cuesta-boletos-hospitalidad-qatar-2022-GettyImages-1292391536.jpg?quality=80&strip=all&w=1200" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://tse3.mm.bing.net/th?id=OIP.YD6u1KDQQO19thRh3vMmBAHaD4&pid=Api&P=0" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://noticias-ahora.com/wp-content/uploads/2019/09/Plantilla-Noticias-Ahora-Recovered-Recovered-Recovered-Recovered-5.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

        <div class="mx-auto mt-4 flex flex-row  font-semibold pb-px bg-red-100  " >
            <div class="mx-auto flex flex-col">
                 <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2">Alemania</h1>
                 <img class="w-72 h-48 rounded-md" src="https://tse3.mm.bing.net/th?id=OIP.yhpPf269fFPUGMSXN2_ojgHaEc&pid=Api&P=0" alt="">

                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                 <h5 class="text-center font-bold text-red-600">Manuel Neuer (Bayern Múnich)</h5>
                 <h5 class="text-center font-bold text-red-600">Ter Stegen (FC Barcelona)</h5>
                 <h5 class="text-center font-bold text-red-600">Kevin Trapp (Eintracht Frankfurt)</h5>
                
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>
                 
                 <h5 class="text-center font-bold text-red-600">Armel Bella Kotchap (Southampton)</h5>
                 <h5 class="text-center font-bold text-red-600">Matthias Ginter (Mönchengladbach)</h5>
                 <h5 class="text-center font-bold text-red-600">Christian Günter (Friburgo)</h5>
                 <h5 class="text-center font-bold text-red-600">Thilo Kehrer (West Ham United)</h5>
                 <h5 class="text-center font-bold text-red-600">Lukas Klostermann (RB Leipzig)</h5>
                 <h5 class="text-center font-bold text-red-600"> David Raum (RB Leipzig)</h5>
                 <h5 class="text-center font-bold text-red-600">Antonio Rüdiger (Real Madrid)</h5>
                 <h5 class="text-center font-bold text-red-600">Niklas Süle (Borussia Dortmund)</h5>
                 <h5 class="text-center font-bold text-red-600">Nico Schlotterbeck (Dortmund)</h5>
                 
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                 <h5 class="text-center font-bold text-red-600">Julian Brandt</h5>
                 <h5 class="text-center font-bold text-red-600">Karim Adeyemi (Dortmund)</h5>
                 <h5 class="text-center font-bold text-red-600">Youssoufa Moukoko (Dortmund)</h5>
                 <h5 class="text-center font-bold text-red-600">Leon Goretzka (Bayern Múnich)</h5>
                 <h5 class="text-center font-bold text-red-600">Joshua Kimmich (Bayern Múnich)</h5>
                 <h5 class="text-center font-bold text-red-600">Jamal Musiala (Bayern Múnich)</h5>
                 <h5 class="text-center font-bold text-red-600">Serge Gnabry (Bayern Múnich)</h5>
                 
                  
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                 <h5 class="text-center font-bold text-red-600">Leroy Sané (Bayern Múnich)</h5>
                 <h5 class="text-center font-bold text-red-600">Thomas Müller (Bayern Múnich)</h5>
                 <h5 class="text-center font-bold text-red-600">Ilkay Gündogan (Manchester City)</h5>
                 <h5 class="text-center font-bold text-red-600">Jonas Hofmann (Mönchengladbach)</h5>
                 <h5 class="text-center font-bold text-red-600">Mario Götze (Eintracht Frankfurt)</h5>
                 <h5 class="text-center font-bold text-red-600">Kai Havertz (Chelsea)</h5>
                 <h5 class="text-center font-bold text-red-600 mb-4">Niclas Füllkrug (Werder Bremen)</h5>
            </div>

            <div class="mx-auto flex flex-col  bg-red-100">
                  <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2">Costa Rica</h1>
                  <img class="w-72 h-48 rounded-md" src="https://www.banderas-mundo.es/data/flags/w1600/cr.png" alt="">

                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                 <h5 class="text-center font-bold text-red-600">Keylor Navas (PSG)</h5>
                 <h5 class="text-center font-bold text-red-600">Esteban Alvarado (Herediano)</h5>
                 <h5 class="text-center font-bold text-red-600">Patrick Sequeira (Lugo)</h5>

                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>
                 
                 <h5 class="text-center font-bold text-red-600">Francisco Calvo (Konyaspor)</h5>
                 <h5 class="text-center font-bold text-red-600">Juan Pablo Vargas (Millonarios)</h5>
                 <h5 class="text-center font-bold text-red-600">Kendall Watson (Saprissa)</h5>
                 <h5 class="text-center font-bold text-red-600">Óscar Duarte (Al-Wehda)</h5>
                 <h5 class="text-center font-bold text-red-600">Daniel Chacón (Colorado Rapids)</h5>
                 <h5 class="text-center font-bold text-red-600">Keysher Fuller (Herediano)</h5>
                 <h5 class="text-center font-bold text-red-600">Carlos Martínez (San Carlos)</h5>
                 <h5 class="text-center font-bold text-red-600">Bryan Oviedo (Real Salt Lake)</h5>
                 <h5 class="text-center font-bold text-red-600">Ronald Matarrita (Cincinnati)</h5>

                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                 <h5 class="text-center font-bold text-red-600">Yeltsin Tejeda (Herediano)</h5>
                 <h5 class="text-center font-bold text-red-600">Celso Borges (Alajuelense)</h5>
                 <h5 class="text-center font-bold text-red-600">Youstin Salas (Saprissa)</h5>
                 <h5 class="text-center font-bold text-red-600">Roan Wilson (Municipal Grecia)</h5>
                 <h5 class="text-center font-bold text-red-600">Gerson Torres (Herediano)</h5>
                 <h5 class="text-center font-bold text-red-600">Douglas López (Herediano)</h5>
                 <h5 class="text-center font-bold text-red-600">Jewison Bennette (Sunderland)</h5>
                 <h5 class="text-center font-bold text-red-600">Álvaro Zamora (Saprissa)</h5>
                 <h5 class="text-center font-bold text-red-600">Anthony Hernández(Puntarenas)</h5>
                 <h5 class="text-center font-bold text-red-600">Brandon Aguilera (Nottingham)</h5>
                 <h5 class="text-center font-bold text-red-600">Bryan Ruiz (Alajuelense)</h5>
              
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                 <h5 class="text-center font-bold text-red-600">Joel Campbell (León)</h5>
                 <h5 class="text-center font-bold text-red-600">Anthony Contreras (Herediano)</h5>
                 <h5 class="text-center font-bold text-red-600 mb-4">Johan Venegas (Alajuelense)</h5>
             
            </div>

            <div class="mx-auto flex flex-col ">
                <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2">España</h1>
                  <img class="w-72 h-48 rounded-md" src="https://d1bvpoagx8hqbg.cloudfront.net/originals/bandera-espana-224c725f1e6eaac8ff319d60bae7127f.jpg" alt="">

                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                 <h5 class="text-center font-bold text-red-600">Unai Simón (Athletic Club)</h5>
                 <h5 class="text-center font-bold text-red-600">Robert Sánchez (Brighton )</h5>
                 <h5 class="text-center font-bold text-red-600">David Raya (Brentford)</h5>
                
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>
                 
                 <h5 class="text-center font-bold text-red-600">Dani Carvajal (Real Madrid)</h5>
                 <h5 class="text-center font-bold text-red-600">César Azpilicueta (Chelsea FC)</h5>
                 <h5 class="text-center font-bold text-red-600">Eric García (FC Barcelona)</h5>
                 <h5 class="text-center font-bold text-red-600">Hugo Guillamón (Valencia)</h5>
                 <h5 class="text-center font-bold text-red-600">Pau Torres (Villarreal)</h5>
                 <h5 class="text-center font-bold text-red-600">Aymeric Laporte (Manchester City,)</h5>
                 <h5 class="text-center font-bold text-red-600">Jordi Alba (Barcelona)</h5>
                 <h5 class="text-center font-bold text-red-600">José Gayá (Valencia)</h5>
      
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                 <h5 class="text-center font-bold text-red-600">Sergio Busquets (Barcelona)</h5>
                 <h5 class="text-center font-bold text-red-600">Rodrigo Hernández (City)</h5>
                 <h5 class="text-center font-bold text-red-600">Gavi (Barcelona), Carlos Soler (PSG)</h5>
                 <h5 class="text-center font-bold text-red-600">Marcos Llorente (Atlético Madrid)</h5>
                 <h5 class="text-center font-bold text-red-600">Pedri (Barcelona)</h5>
                 <h5 class="text-center font-bold text-red-600">Koke (Atlético Madrid)</h5>
            
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                 <h5 class="text-center font-bold text-red-600">Ferrán Torres (FC Barcelona)</h5>
                 <h5 class="text-center font-bold text-red-600">Nico Williams (Athletic Club)</h5>
                 <h5 class="text-center font-bold text-red-600">Yeremy Pino (Villarreal)</h5>
                 <h5 class="text-center font-bold text-red-600">Álvaro Morata (Atlético Madrid)</h5>
                 <h5 class="text-center font-bold text-red-600">Marco Asensio (Real Madrid)</h5>
                 <h5 class="text-center font-bold text-red-600">Pablo Sarabia (PSG)</h5>
                 <h5 class="text-center font-bold text-red-600">Dani Olmo (RB Leipzig)</h5>
                 <h5 class="text-center font-bold text-red-600 mb-4">Ansu Fati (FC Barcelona)</h5>
              
            </div>

            <div class="mx-auto flex flex-col ">
             <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2">Japón</h1>
                  <img class="w-72 h-48 rounded-md" src="https://www.banderasdelmundo.net/wp-content/uploads/2019/08/bandera-de-japon.jpg" alt="">

                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                 <h5 class="text-center font-bold text-red-600">Shuichi Gonda (Shimizu S-Pulse)</h5>
                 <h5 class="text-center font-bold text-red-600">Eiji Kawashima (RC Strasburgo)</h5>
                 <h5 class="text-center font-bold text-red-600">Daniel Schmidt (Sint-Truidense VV)</h5>
                
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>
                 
                 <h5 class="text-center font-bold text-red-600">Yuto Nagatomo (Tokyo)</h5>
                 <h5 class="text-center font-bold text-red-600">Nakayama (Huddersfield)</h5>
                 <h5 class="text-center font-bold text-red-600">Miki Yamane (Kawasaki)</h5>
                 <h5 class="text-center font-bold text-red-600">Shogo Taniguchi (Kawasaki )</h5>
                 <h5 class="text-center font-bold text-red-600">Ko Itakura (Monchenglandbach)</h5>
                 <h5 class="text-center font-bold text-red-600">Hiroki Ito (Stuttgart)</h5>
                
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                 <h5 class="text-center font-bold text-red-600">Goku Shibasaki (Leganés)</h5>
                 <h5 class="text-center font-bold text-red-600">Wataru Endo (Stuttgart)</h5>
                 <h5 class="text-center font-bold text-red-600">Takumi Minamino (Mónaco)</h5>
                 <h5 class="text-center font-bold text-red-600">Junya Ito (Reims)</h5>
                 <h5 class="text-center font-bold text-red-600">Ritsu Doan (Friburgo)</h5>
                 <h5 class="text-center font-bold text-red-600">Daichi Kamada (Eintracht Frankfurt)</h5>
                 <h5 class="text-center font-bold text-red-600">Takefusa Kubo (Real Sociedad)</h5>
                 <h5 class="text-center font-bold text-red-600">Hidemasa Morita (Sporting)</h5>
                 <h5 class="text-center font-bold text-red-600">Ao Tanaka (Fortuna Dusseldorf)</h5>
                 <h5 class="text-center font-bold text-red-600">Kaoru Mitoma (Brighton)</h5>
                 <h5 class="text-center font-bold text-red-600">Yuki Soma (Nagoya Grampus)</h5>
                  
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                 <h5 class="text-center font-bold text-red-600">Daizen Maeda (Celtic)</h5>
                 <h5 class="text-center font-bold text-red-600">Ayase Ueda (Brujas)</h5>
                 <h5 class="text-center font-bold text-red-600 mb-4">Takuma Asano (Bochum)</h5>
                
            </div>
            
        </div>

        </div>
 </div>
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
 </body>