<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-gray-300">
    <div class="container flex-wrap ">
      <div class="row ">
        <div class="flex flex-row flex justify-center mt-2">
          <img class="mx-2 h-20 w-40 rounded-full"  src="https://3.bp.blogspot.com/-_2r3OvNIQK0/VS1jx7iINII/AAAAAAAABgc/zCKeh0BiGFg/s1600/BanderaDeQatar.png" alt="">

        <h1 class="text-6xl text-center mt-2 text-slate-50 text-red-900 font-bold font-serif ">Grupo G</h1>
        <img class="mx-2 h-20 w-40 rounded-full"  src="https://3.bp.blogspot.com/-_2r3OvNIQK0/VS1jx7iINII/AAAAAAAABgc/zCKeh0BiGFg/s1600/BanderaDeQatar.png" alt="">
        </div> 

        <div class="flex flex-row flex justify-center mt-4 flex space-x-4">
            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000">Home</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoA">Grupo A</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoB">Grupo B</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoC">Grupo C</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoD">Grupo D</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoE">Grupo E</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoF">Grupo F</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoH">Grupo H</a>
        </div>

         <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://cdn.oem.com.mx/elesto/2019/01/futbol-mundial-qatar-2022-no-negocia-compartir-mundial-sus-vecinos-n349811-808x454-530198.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://www.futbolred.com/files/article_main/uploads/2018/07/13/5b489e7e27d4b.jpeg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://laopinion.com/wp-content/uploads/sites/3/2021/03/cuanto-cuesta-boletos-hospitalidad-qatar-2022-GettyImages-1292391536.jpg?quality=80&strip=all&w=1200" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://tse3.mm.bing.net/th?id=OIP.YD6u1KDQQO19thRh3vMmBAHaD4&pid=Api&P=0" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://noticias-ahora.com/wp-content/uploads/2019/09/Plantilla-Noticias-Ahora-Recovered-Recovered-Recovered-Recovered-5.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

        <div class="mx-auto mt-4 flex flex-row  bg-red-100  " >
            <div class="mx-auto flex flex-col ">
                 <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2">Brazil</h1>
                 <img class="w-72 h-48 rounded-md" src="https://tse2.mm.bing.net/th?id=OIP.6O-AZSQfHjwat-G_V8rTlAHaFi&pid=Api&P=0" alt="">

                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                 <h5 class="text-center font-bold text-red-600">Alison (Liverpool)</h5>
                 <h5 class="text-center font-bold text-red-600">Ederson (Manchester City)</h5>
                 <h5 class="text-center font-bold text-red-600">Weverton (Palmeiras)</h5>
                  
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>
                 
                 <h5 class="text-center font-bold text-red-600">Danilo (Juventus)</h5>
                 <h5 class="text-center font-bold text-red-600">Dani Alves (Pumas UNAM)</h5>
                 <h5 class="text-center font-bold text-red-600">Alex Sandro (Juventus)</h5>
                 <h5 class="text-center font-bold text-red-600">Alex Telles (Sevilla)</h5>
                 <h5 class="text-center font-bold text-red-600">Eder Militao (Real Madrid)</h5>
                 <h5 class="text-center font-bold text-red-600">Marquinhos (PSG)</h5>
                 <h5 class="text-center font-bold text-red-600">Thiago Silva (Chelsea)</h5>
                 <h5 class="text-center font-bold text-red-600">Bremer (Juventus)</h5>
                
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                 <h5 class="text-center font-bold text-red-600">Casemiro (Manchester United)</h5>
                 <h5 class="text-center font-bold text-red-600">B. Guimaraes (Newcastle)</h5>
                 <h5 class="text-center font-bold text-red-600">Everton Ribeiro (Flamengo)</h5>
                 <h5 class="text-center font-bold text-red-600">Fabinho (Liverpool)</h5>
                 <h5 class="text-center font-bold text-red-600">Fred (Manchester United)</h5>
                 <h5 class="text-center font-bold text-red-600">Lucas Paqueta (West Ham)</h5>
                
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                 <h5 class="text-center font-bold text-red-600">Antony (Manchester United)</h5>
                 <h5 class="text-center font-bold text-red-600">Gabriel Jesus (Arsenal)</h5>
                 <h5 class="text-center font-bold text-red-600">Gabriel Martinelli (Arsenal)</h5>
                 <h5 class="text-center font-bold text-red-600">Neymar (PSG)</h5>
                 <h5 class="text-center font-bold text-red-600">Pedro (Flamengo)</h5>
                 <h5 class="text-center font-bold text-red-600">Raphinha (Barcelona)</h5>
                 <h5 class="text-center font-bold text-red-600">Richarlison (Tottenham)</h5>
                 <h5 class="text-center font-bold text-red-600">Vinicius Jr (Real Madrid)</h5>
                 <h5 class="text-center font-bold text-red-600 mb-4">Rodrygo (Real Madrid)</h5>
                
            </div>

            <div class="mx-auto flex flex-col  bg-red-100">
                  <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2">Suiza</h1>
                  <img class="w-72 h-48 rounded-md" src="https://tse2.mm.bing.net/th?id=OIP.XgvRO4dG9njXZnAaibyxVQAAAA&pid=Api&P=0" alt="">

                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                 <h5 class="text-center font-bold text-red-600">Omlin (Montpellier)</h5>
                 <h5 class="text-center font-bold text-red-600">Gregor Kobel (Borussia Dortmund)</h5>
                 <h5 class="text-center font-bold text-red-600">Yann Sommer (Mönchengladbach)</h5>
                 <h5 class="text-center font-bold text-red-600">Philipp Köhn (RB Salzburg)</h5>
                  
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>
                 
                 <h5 class="text-center font-bold text-red-600">Ceray Cömert (Valencia)</h5>
                 <h5 class="text-center font-bold text-red-600">Nico Elvedi (Mönchengladbach)</h5>
                 <h5 class="text-center font-bold text-red-600">Manuel Akanji (Manchester City)</h5>
                 <h5 class="text-center font-bold text-red-600">Ricardo Rodríguez (Torino)</h5>
                 <h5 class="text-center font-bold text-red-600">Silvan Widmer (Mainz 05)</h5>
                 <h5 class="text-center font-bold text-red-600">Fabian Schär (Newcastle)</h5>

                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                 <h5 class="text-center font-bold text-red-600">Fabian Frei (Basel)</h5>
                 <h5 class="text-center font-bold text-red-600">Ardon Jashari (Luzern)</h5>
                 <h5 class="text-center font-bold text-red-600">Zakaria (Chelsea)</h5>
                 <h5 class="text-center font-bold text-red-600">Fabian Rieder (Young Boys)</h5>
                 <h5 class="text-center font-bold text-red-600">Granit Xhaka (Arsenal)</h5>
                 <h5 class="text-center font-bold text-red-600">Djibril Sow (Eintracht)</h5>
                 <h5 class="text-center font-bold text-red-600">Michel Aebischer (Bologna)</h5>
                 <h5 class="text-center font-bold text-red-600">Remo Freuler (Nottingham Forest)</h5>
                 <h5 class="text-center font-bold text-red-600">Christian Fassnacht (Young Boys)</h5>
                 <h5 class="text-center font-bold text-red-600">Edimilson Fernandes (Mainz 05)</h5>

                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                 <h5 class="text-center font-bold text-red-600">Shaqiri (Chicago Fire)</h5>
                 <h5 class="text-center font-bold text-red-600">Renato Steffen (Lugano)</h5>
                 <h5 class="text-center font-bold text-red-600">Noah Okafor (Salzburg)</h5>
                 <h5 class="text-center font-bold text-red-600">Rubén Vargas (Augsburg)</h5>
                 <h5 class="text-center font-bold text-red-600">Breel Embolo (Mónaco)</h5>
                 <h5 class="text-center font-bold text-red-600 mb-4">Haris Seferovic (Galatasaray)</h5>
          
            </div>

            <div class="mx-auto flex flex-col ">
                <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2">Camerún</h1>
                  <img class="w-72 h-48 rounded-md" src="https://tse2.mm.bing.net/th?id=OIP.va0xRcjj95ErFu3G1khr1AHaFJ&pid=Api&P=0" alt="">

                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                 <h5 class="text-center font-bold text-red-600">Simon Ngapandouetnbu (Marsella)</h5>
                 <h5 class="text-center font-bold text-red-600">Devis Epassy (Abha)</h5>
                 <h5 class="text-center font-bold text-red-600">Andre Onana (Inter Milan)</h5>
                 
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>
                 
                 <h5 class="text-center font-bold text-red-600">Nicolas Nkoulou (Aris)</h5>
                 <h5 class="text-center font-bold text-red-600">Christopher Wooh (Rennes)</h5>
                 <h5 class="text-center font-bold text-red-600">Nouhou Tolo (Seattle Sounders)</h5>
                 <h5 class="text-center font-bold text-red-600">Olivier Mbaizo (Philadelphia Union)</h5>
                 <h5 class="text-center font-bold text-red-600">Collins Fai (Al-Tai)</h5>
                 <h5 class="text-center font-bold text-red-600">Jean-Charles Castelletto (Nantes)</h5>
                 <h5 class="text-center font-bold text-red-600">Enzo Ebosse (Udinese)</h5>

                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                 <h5 class="text-center font-bold text-red-600">Olivier Ntcham (Swansea)</h5>
                 <h5 class="text-center font-bold text-red-600">Pierre Kunde (Olympiacos)</h5>
                 <h5 class="text-center font-bold text-red-600">Martin Hongla (Hellas Verona)</h5>
                 <h5 class="text-center font-bold text-red-600">Samuel Gouet (Malinas)</h5>
                 <h5 class="text-center font-bold text-red-600">Gael Ondoua (Hannover 96)</h5>
                 <h5 class="text-center font-bold text-red-600">Andre-Frank Anguissa (Nápoles)</h5>
                 <h5 class="text-center font-bold text-red-600">Jerome Ngom (Colombe Dja)</h5>

                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                 <h5 class="text-center font-bold text-red-600">Moumi Ngamaleu (Dinamo Moscú)</h5>
                 <h5 class="text-center font-bold text-red-600">Georges-Kevin Nkoudou (Besiktas)</h5>
                 <h5 class="text-center font-bold text-red-600">Vincent Aboubakar (Al-Nassr)</h5>
                 <h5 class="text-center font-bold text-red-600">Karl Toko Ekambi (Lyon)</h5>
                 <h5 class="text-center font-bold text-red-600">Jean-Pierre Nsame (Young Boys)</h5>
                 <h5 class="text-center font-bold text-red-600">Bryan Mbeumo (Brentford)</h5>
                 <h5 class="text-center font-bold text-red-600">Eric Maxim Moting (Bayern Múnich)</h5>
                 <h5 class="text-center font-bold text-red-600">Christian Bassogog (Shanghai)</h5>
                 <h5 class="text-center font-bold text-red-600"></h5>
                 <h5 class="text-center font-bold text-red-600 mb-4">Marou Souaibou (Coton Sport)</h5>
                
            </div>

            <div class="mx-auto flex flex-col ">
             <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2">Serbia</h1>
                  <img class="w-72 h-48 rounded-md" src="https://tse1.mm.bing.net/th?id=OIP.VmAg2PtdxK5RRZOmU-ghngHaE7&pid=Api&P=0 font-semibold pb-px" alt="">

                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                 <h5 class="text-center font-bold text-red-600">Marko Dmitrović (Sevilla)</h5>
                 <h5 class="text-center font-bold text-red-600">Predrag Rajković (Mallorca)</h5>
                 <h5 class="text-center font-bold text-red-600">Vanja Milinković-Savić (Torino)</h5>
              
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>
                 
                 <h5 class="text-center font-bold text-red-600">Stefan Mitrović (Getafe)</h5>
                 <h5 class="text-center font-bold text-red-600">Nikola Milenković (Fiorentina)</h5>
                 <h5 class="text-center font-bold text-red-600">Strahinja Pavlović (Salzburgo)</h5>
                 <h5 class="text-center font-bold text-red-600">Miloš Veljković (Werder Bremen)</h5>
                 <h5 class="text-center font-bold text-red-600">Filip Mladenović (Legia Varsovia)</h5>
                 <h5 class="text-center font-bold text-red-600">Strahinja Eraković (Estrella Roja)</h5>
                 <h5 class="text-center font-bold text-red-600">Srđan Babić (Almeria)</h5>

                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                 <h5 class="text-center font-bold text-red-600">Nemanja Gudelj (Sevilla)</h5>
                 <h5 class="text-center font-bold text-red-600">Sergej Milinković (Lazio)</h5>
                 <h5 class="text-center font-bold text-red-600">Saša Lukić (Torino)</h5>
                 <h5 class="text-center font-bold text-red-600">Marko Grujić (Porto)</h5>
                 <h5 class="text-center font-bold text-red-600">Filip Kostić (Juventus)</h5>
                 <h5 class="text-center font-bold text-red-600">Uroš Račić (Braga)</h5>
                 <h5 class="text-center font-bold text-red-600">Nemanja Maksimović (Getafe)</h5>
                 <h5 class="text-center font-bold text-red-600">Ivan Ilić (Hellas Verona)</h5>
                 <h5 class="text-center font-bold text-red-600">Andrija Živković (PAOK Salonicco)</h5>
                 <h5 class="text-center font-bold text-red-600">Darko Lazović (Hellas Verona)</h5>
                  
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                 <h5 class="text-center font-bold text-red-600">Dušan Tadić (Ajax)</h5>
                 <h5 class="text-center font-bold text-red-600">Aleksandar Mitrović (Fulham)</h5>
                 <h5 class="text-center font-bold text-red-600">Dušan Vlahović (Juventus)</h5>
                 <h5 class="text-center font-bold text-red-600">Filip Đuričić (Sampdoria)</h5>
                 <h5 class="text-center font-bold text-red-600">Luka Jović (Fiorentina)</h5>
                 <h5 class="text-center font-bold text-red-600 mb-4">Nemanja Radonjić (Torino)</h5>
                
            </div>
            
        </div>

        </div>
 </div>
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
 </body>