<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-gray-300">
    <div class="container flex-wrap ">
      <div class="row ">
        <div class="flex flex-row flex justify-center mt-2">
          <img class="mx-2 h-20 w-40 rounded-full"  src="https://3.bp.blogspot.com/-_2r3OvNIQK0/VS1jx7iINII/AAAAAAAABgc/zCKeh0BiGFg/s1600/BanderaDeQatar.png" alt="">

        <h1 class="text-6xl text-center mt-2 text-slate-50 text-red-900 font-bold font-serif ">Grupo F</h1>
        <img class="mx-2 h-20 w-40 rounded-full"  src="https://3.bp.blogspot.com/-_2r3OvNIQK0/VS1jx7iINII/AAAAAAAABgc/zCKeh0BiGFg/s1600/BanderaDeQatar.png" alt="">
        </div> 

        <div class="flex flex-row flex justify-center mt-4 flex space-x-4">
            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg" href="http://127.0.0.1:3000">Home</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoA">Grupo A</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoB">Grupo B</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoC">Grupo C</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoD">Grupo D</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoE">Grupo E</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoG">Grupo G</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoH">Grupo H</a>
        </div>

         <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://cdn.oem.com.mx/elesto/2019/01/futbol-mundial-qatar-2022-no-negocia-compartir-mundial-sus-vecinos-n349811-808x454-530198.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://www.futbolred.com/files/article_main/uploads/2018/07/13/5b489e7e27d4b.jpeg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://laopinion.com/wp-content/uploads/sites/3/2021/03/cuanto-cuesta-boletos-hospitalidad-qatar-2022-GettyImages-1292391536.jpg?quality=80&strip=all&w=1200" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://tse3.mm.bing.net/th?id=OIP.YD6u1KDQQO19thRh3vMmBAHaD4&pid=Api&P=0" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://noticias-ahora.com/wp-content/uploads/2019/09/Plantilla-Noticias-Ahora-Recovered-Recovered-Recovered-Recovered-5.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

        <div class="mx-auto mt-4 flex flex-row  bg-red-100  " >
            <div class=" mx-auto flex flex-col ">
                 <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2">Bélgica</h1>
                 <img class="w-72 h-48 rounded-md" src="https://tse3.mm.bing.net/th?id=OIP.ayLaU9_7qyHnojI9ihIGNwHaEh&pid=Api&P=0" alt="">

                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                 <h5 class="text-center font-bold text-red-600">Koen Casteels (Wolsburg)</h5>
                 <h5 class="text-center font-bold text-red-600">Thibaut Courtois (Real Madrid)</h5>
                 <h5 class="text-center font-bold text-red-600">Simon Mignolet (Brujas)</h5>
                   
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>
                 
                 <h5 class="text-center font-bold text-red-600">Toby Alderweireld (Amberes)</h5>
                 <h5 class="text-center font-bold text-red-600">Zeno Debast (Anderlecht)</h5>
                 <h5 class="text-center font-bold text-red-600">Leander Dendoncker (Aston Villa)</h5>
                 <h5 class="text-center font-bold text-red-600">Wout Faes (Leicester City)</h5>
                 <h5 class="text-center font-bold text-red-600">Arthur Theate (Rennes)</h5>
                 <h5 class="text-center font-bold text-red-600">Jan Vertonghen (Anderlecht)</h5>
                
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                 <h5 class="text-center font-bold text-red-600">Yannick Carrasco (Atlético Madrid)</h5>
                 <h5 class="text-center font-bold text-red-600">Timothy Castagne (Leicester City)</h5>
                 <h5 class="text-center font-bold text-red-600">Kevin de Bruyne (Manchester City)</h5>
                 <h5 class="text-center font-bold text-red-600">Thomas Meunier (Dortmund)</h5>
                 <h5 class="text-center font-bold text-red-600">Amadou Onana (Everton)</h5>
                 <h5 class="text-center font-bold text-red-600">Thorgan Hazard (Dortmund)</h5>
                 <h5 class="text-center font-bold text-red-600">Youri Tielemans (Leicester City)</h5>
                 <h5 class="text-center font-bold text-red-600">Hans Vanaken (Brujas)</h5>
                 <h5 class="text-center font-bold text-red-600">Axel Witsel (Atlético Madrid)</h5>
                
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                 <h5 class="text-center font-bold text-red-600">Michy Batshuayi (Fenerbache)</h5>
                 <h5 class="text-center font-bold text-red-600">Charles De Ketelaere (AC Milán)</h5>
                 <h5 class="text-center font-bold text-red-600">Jérémy Doku (Rennes)</h5>
                 <h5 class="text-center font-bold text-red-600">Eden Hazard (Real Madrid)</h5>
                 <h5 class="text-center font-bold text-red-600">Romelu Lukaku (Inter de Milán)</h5>
                 <h5 class="text-center font-bold text-red-600">Dries Mertens (Galatasaray)</h5>
                 <h5 class="text-center font-bold text-red-600">Loïs Openda (Lens)</h5>
                 <h5 class="text-center font-bold text-red-600 mb-4">Leandro Trossard (Brighton )</h5>
                 
            </div>

            <div class="mx-auto flex flex-col  bg-red-100">
                  <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2">Marrueco</h1>
                  <img class="w-72 h-48 rounded-md" src="https://tse1.mm.bing.net/th?id=OIP.iPbLThLW8gDzKqAYq0fT0QHaEK&pid=Api&P=0" alt="">

                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                 <h5 class="text-center font-bold text-red-600">Yassine Bono (Sevilla)</h5>
                 <h5 class="text-center font-bold text-red-600">Munir Elkajoui (Al-Wehda)</h5>
                 <h5 class="text-center font-bold text-red-600">Reda Tagnaouti (Wydad Casablanca)</h5>
                  
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>
                 
                 <h5 class="text-center font-bold text-red-600">Yahya  Allah (Wydad Casablanca)</h5>
                 <h5 class="text-center font-bold text-red-600">Badr Benoun (Qatar SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Noussair Mazraoui (Bayern Múnich)</h5>
                 <h5 class="text-center font-bold text-red-600">Jawad El Yamiq (Valladolid)</h5>
                 <h5 class="text-center font-bold text-red-600">Achraf Hakimi (PSG)</h5>
                 <h5 class="text-center font-bold text-red-600">Nayev Aguerd (West Ham)</h5>
                 <h5 class="text-center font-bold text-red-600">Romain Saiss (Besiktas)</h5>
                 <h5 class="text-center font-bold text-red-600">Achraf Dari (Brest)</h5>
                  
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                 <h5 class="text-center font-bold text-red-600">Abdelhamid Sabiri (Sampdoria)</h5>
                 <h5 class="text-center font-bold text-red-600">Azzedine Ounahi (Angers)</h5>
                 <h5 class="text-center font-bold text-red-600">Sofyan Amrabat (Fiorentina)</h5>
                 <h5 class="text-center font-bold text-red-600">Yahya Jabrane (Wydad Casablanca)</h5>
                 <h5 class="text-center font-bold text-red-600">Selim Amallah (Standard Lieja)</h5>
                 <h5 class="text-center font-bold text-red-600">Bilal Khanous (Genk)</h5>
                 <h5 class="text-center font-bold text-red-600">Amine Harit (Marsella)</h5>

                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                 <h5 class="text-center font-bold text-red-600">Abderazak Hamdallah (Al-Ittihad)</h5>
                 <h5 class="text-center font-bold text-red-600">Zakaria Aboukhlal (Toulouse)</h5>
                 <h5 class="text-center font-bold text-red-600">Youssef En-Nesyri (Sevilla)</h5>
                 <h5 class="text-center font-bold text-red-600">Abde Ezzalzouli (Osasuna)</h5>
                 <h5 class="text-center font-bold text-red-600">Soufian Boufal (Angers)</h5>
                 <h5 class="text-center font-bold text-red-600">Walid Cheddira (Bari)</h5>
                 <h5 class="text-center font-bold text-red-600">Hakim Ziyech (Chelsea)</h5>
                 <h5 class="text-center font-bold text-red-600 mb-4">Ilyas Chair (Queens Park Rangers)</h5>
                
            </div>

            <div class="mx-auto flex flex-col ">
                <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2">Canadá</h1>
                  <img class="w-72 h-48 rounded-md" src="https://lh4.googleusercontent.com/-Oo7JccG-7jA/TX3XaxsHEuI/AAAAAAAAAAQ/nMgry6DCIaA/s1600/Dibujo3.JPGg" alt="">

                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                 <h5 class="text-center font-bold text-red-600">James Pantemis</h5>
                 <h5 class="text-center font-bold text-red-600">Milan Borjan</h5>
                 <h5 class="text-center font-bold text-red-600">Dayne St. Clair</h5>
                
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>
                 
                 <h5 class="text-center font-bold text-red-600">Samuel Adekugbe</h5>
                 <h5 class="text-center font-bold text-red-600">Joel Waterman</h5>
                 <h5 class="text-center font-bold text-red-600">Alistair Johnston</h5>
                 <h5 class="text-center font-bold text-red-600">Richie Laryea</h5>
                 <h5 class="text-center font-bold text-red-600">Kamal Miller</h5>
                 <h5 class="text-center font-bold text-red-600">Steven Vitoria</h5>
                 <h5 class="text-center font-bold text-red-600">Derek Cornelius</h5>

                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                 <h5 class="text-center font-bold text-red-600">Liam Fraser</h5>
                 <h5 class="text-center font-bold text-red-600">Ismael Kone</h5>
                 <h5 class="text-center font-bold text-red-600">Mark-Anthony Kaye</h5>
                 <h5 class="text-center font-bold text-red-600">David Wotherspoon</h5>
                 <h5 class="text-center font-bold text-red-600">Jonathan Osorio</h5>
                 <h5 class="text-center font-bold text-red-600">Atiba Hutchinson</h5>
                 <h5 class="text-center font-bold text-red-600">Stephen Eustáquio</h5>
                 <h5 class="text-center font-bold text-red-600">Samuel Piette</h5>
                
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                 <h5 class="text-center font-bold text-red-600">Tajon Buchanan</h5>
                 <h5 class="text-center font-bold text-red-600">Liam Millar</h5>
                 <h5 class="text-center font-bold text-red-600">Lucas Cavallini</h5>
                 <h5 class="text-center font-bold text-red-600">Iké Ugbo</h5>
                 <h5 class="text-center font-bold text-red-600">Junior Hoilett</h5>
                 <h5 class="text-center font-bold text-red-600">Jonathan David</h5>
                 <h5 class="text-center font-bold text-red-600">Alphonso Davies</h5>
                 <h5 class="text-center font-bold text-red-600 mb-4">Cyle Larin</h5>
                
            </div>

            <div class="mx-auto flex flex-col ">
             <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2">Croacia</h1>
                  <img class="w-72 h-48 rounded-md" src="https://tse4.mm.bing.net/th?id=OIP.JYyVoJlsSDh_bf3L7xvb9wHaDt&pid=Api&P=0 font-semibold pb-px" alt="">

                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                 <h5 class="text-center font-bold text-red-600">Dominik Livakovic (Dinamo Zagreb)</h5>
                 <h5 class="text-center font-bold text-red-600">Ivica Ivusic (NK Osijek)</h5>
                 <h5 class="text-center font-bold text-red-600">Ivo Grbic (Atlético Madrid)</h5>
                
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>
                 
                 <h5 class="text-center font-bold text-red-600">Domagoj Vida (AEK Atenas)</h5>
                 <h5 class="text-center font-bold text-red-600">Dejan Lovren (Zenit)</h5>
                 <h5 class="text-center font-bold text-red-600">Borna Barisic (Rangers)</h5>
                 <h5 class="text-center font-bold text-red-600">Josip Juranovic (Celtic)</h5>
                 <h5 class="text-center font-bold text-red-600">Josko Gvardiol (Leipzig)</h5>
                 <h5 class="text-center font-bold text-red-600">Borna Sosa (Stuttgart)</h5>
                 <h5 class="text-center font-bold text-red-600">Josip Stanisic (Bayern Múnich)</h5>
                 <h5 class="text-center font-bold text-red-600">Martin Erlic (Spezia)</h5>
                 <h5 class="text-center font-bold text-red-600">Josip Sutalo (Dinamo Zagreb)</h5>
                
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                 <h5 class="text-center font-bold text-red-600">Luka Modric (Real Madrid)</h5>
                 <h5 class="text-center font-bold text-red-600">Mateo Kovacic (Chelsea)</h5>
                 <h5 class="text-center font-bold text-red-600">Marcelo Brozovic (Inter)</h5>
                 <h5 class="text-center font-bold text-red-600">Mario Pasalic (Atalanta)</h5>
                 <h5 class="text-center font-bold text-red-600">Nikola Vlasic (Torino)</h5>
                 <h5 class="text-center font-bold text-red-600">Lovro Majer (Rennes)</h5>
                 <h5 class="text-center font-bold text-red-600">Kristijan Jakic (Frankfurt)</h5>
                 <h5 class="text-center font-bold text-red-600"> Luka Sucic (Salzburgo)</h5>
                
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                 <h5 class="text-center font-bold text-red-600">Ivan Perisic (Tottenham)</h5>
                 <h5 class="text-center font-bold text-red-600">Andrej Kramaric (Hoffenheim)</h5>
                 <h5 class="text-center font-bold text-red-600">Bruno Petkovic (Dinamo Zagreb)</h5>
                 <h5 class="text-center font-bold text-red-600">Mislav Orsic (Dinamo Zagreb)</h5>
                 <h5 class="text-center font-bold text-red-600">Ante Budimir (Osasuna)</h5>
                 <h5 class="text-center font-bold text-red-600 mb-4">Marko Livaja (Hajduk Split)</h5>

            </div>
            
        </div>

        </div>
 </div>
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
 </body>