<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-gray-300">
    <div class="container flex-wrap ">
      <div class="row ">
        <div class="flex flex-row flex justify-center mt-2">
          <img class="mx-2 h-20 w-40 rounded-full"  src="https://3.bp.blogspot.com/-_2r3OvNIQK0/VS1jx7iINII/AAAAAAAABgc/zCKeh0BiGFg/s1600/BanderaDeQatar.png" alt="">

        <h1 class="text-6xl text-center mt-2 text-slate-50 text-red-900 font-bold font-serif ">Grupo H</h1>
        <img class="mx-2 h-20 w-40 rounded-full"  src="https://3.bp.blogspot.com/-_2r3OvNIQK0/VS1jx7iINII/AAAAAAAABgc/zCKeh0BiGFg/s1600/BanderaDeQatar.png" alt="">
        </div> 

        <div class="flex flex-row flex justify-center mt-4 flex space-x-4">
            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000">Home</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoA">Grupo A</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoB">Grupo B</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoC">Grupo C</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoD">Grupo D</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoE">Grupo E</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoG">Grupo F</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoH">Grupo G</a>
        </div>

         <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://cdn.oem.com.mx/elesto/2019/01/futbol-mundial-qatar-2022-no-negocia-compartir-mundial-sus-vecinos-n349811-808x454-530198.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://www.futbolred.com/files/article_main/uploads/2018/07/13/5b489e7e27d4b.jpeg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://laopinion.com/wp-content/uploads/sites/3/2021/03/cuanto-cuesta-boletos-hospitalidad-qatar-2022-GettyImages-1292391536.jpg?quality=80&strip=all&w=1200" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://tse3.mm.bing.net/th?id=OIP.YD6u1KDQQO19thRh3vMmBAHaD4&pid=Api&P=0" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://noticias-ahora.com/wp-content/uploads/2019/09/Plantilla-Noticias-Ahora-Recovered-Recovered-Recovered-Recovered-5.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

        <div class="mx-auto mt-4 flex flex-row  bg-red-100  " >
            <div class="mx-auto flex flex-col ">
                 <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2">Uruguay</h1>
                 <img class="w-72 h-48 rounded-md" src="https://tse1.mm.bing.net/th?id=OIP.x4ZOJhcZkXuMlCfgU7aF4AHaE7&pid=Api&P=0" alt="">

                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                 <h5 class="text-center font-bold text-red-600">Fernando Muslera (Galatasaray)</h5>
                 <h5 class="text-center font-bold text-red-600">Sergio Rochet (Nacional)</h5>
                 <h5 class="text-center font-bold text-red-600">Sebastián Sosa (Independiente)</h5>
                
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>
                 
                 <h5 class="text-center font-bold text-red-600">Ronald Araujo (Barcelona)</h5>
                 <h5 class="text-center font-bold text-red-600">Sebastián Coates (Sporting Club)</h5>
                 <h5 class="text-center font-bold text-red-600">Martín Cáceres (Los Ángeles Galaxy)</h5>
                 <h5 class="text-center font-bold text-red-600">Guillermo Varela (Flamengo)</h5>
                 <h5 class="text-center font-bold text-red-600">Matías Viña (Roma)</h5>
                 <h5 class="text-center font-bold text-red-600">Mathías Olivera (Nápoles)</h5>
                 <h5 class="text-center font-bold text-red-600">José Giménez (Atlético de Madrid)</h5>
                 <h5 class="text-center font-bold text-red-600">Diego Godín (Vélez Sarsfield)</h5>
                 <h5 class="text-center font-bold text-red-600">José Luis Rodríguez (Nacional)</h5>
              
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                 <h5 class="text-center font-bold text-red-600">Lucas Torreira (Galatasaray)</h5>
                 <h5 class="text-center font-bold text-red-600">Matías Vecino (Lazio)</h5>
                 <h5 class="text-center font-bold text-red-600">Rodrigo Bentancur (Tottenham)</h5>
                 <h5 class="text-center font-bold text-red-600">Manuel Ugarte (Sporting Club)</h5>
                 <h5 class="text-center font-bold text-red-600">Giorgian De Arrascaeta (Flamengo)</h5>
                 <h5 class="text-center font-bold text-red-600">Nicolás de la Cruz (River Plate)</h5>
                 <h5 class="text-center font-bold text-red-600">Federico Valverde (Real Madrid)</h5>
                 <h5 class="text-center font-bold text-red-600">Facundo Pellistri (Manchester United)</h5>
                 <h5 class="text-center font-bold text-red-600">Agustín Canobbio (Paranaense)</h5>
                 <h5 class="text-center font-bold text-red-600">Facundo Torres (Orlando City)</h5>
            
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                 <h5 class="text-center font-bold text-red-600">Luis Suárez (Nacional)</h5>
                 <h5 class="text-center font-bold text-red-600">Darwin Núñez (Liverpool FC)</h5>
                 <h5 class="text-center font-bold text-red-600">Maximiliano Gómez (Trabzonspor)</h5>
                 <h5 class="text-center font-bold text-red-600 mb-4">Edinson Cavani (Valencia)</h5>
              
            </div>

            <div class="mx-auto flex flex-col  bg-red-100">
                  <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2">Corea del Sur</h1>
                  <img class="w-72 h-48 rounded-md" src="https://i.pinimg.com/originals/47/f4/32/47f43230d49a3bd3fccfa693248124c3.jpg" alt="">

                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                 <h5 class="text-center font-bold text-red-600">Kim Seung-gyu (Al-Shabab/KSA)</h5>
                 <h5 class="text-center font-bold text-red-600">Song Bum-keun (Jeonbuk Motors)</h5>
                 <h5 class="text-center font-bold text-red-600">Jo Hyeon-woo (Ulsan)</h5>
                  
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>
                 
                 <h5 class="text-center font-bold text-red-600">Kwon Kyung-won (Gamba Osaka)</h5>
                 <h5 class="text-center font-bold text-red-600">Kim Moon-hwan (Jeonbuk Motors)</h5>
                 <h5 class="text-center font-bold text-red-600">Kim Min-jae (Nápoles/ITA)</h5>
                 <h5 class="text-center font-bold text-red-600">Kim Young-gwon (Ulsan)</h5>
                 <h5 class="text-center font-bold text-red-600">Kim Jin-su (Jeonbuk Motors)</h5>
                 <h5 class="text-center font-bold text-red-600">Kim Tae-hwan (Ulsan)</h5>
                 <h5 class="text-center font-bold text-red-600">Yoon Jong-gyu (FC Seúl)</h5>
                 <h5 class="text-center font-bold text-red-600">Cho Yu-min (Daejeon Hana Citizen)</h5>
                 <h5 class="text-center font-bold text-red-600">Hong Chul (Daegu FC)</h5>
              
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                 <h5 class="text-center font-bold text-red-600">Kwon Chang (Gimcheon Sangmu)</h5>
                 <h5 class="text-center font-bold text-red-600">Na Sang-ho (FC Seúl)</h5>
                 <h5 class="text-center font-bold text-red-600">Paik Seung-ho (Jeonbuk Motors)</h5>
                 <h5 class="text-center font-bold text-red-600">Lee Kang-in (Real Mallorca/ESP)</h5>
                 <h5 class="text-center font-bold text-red-600">Lee Jae-sung (Mainz/GER)</h5>
                 <h5 class="text-center font-bold text-red-600">Jeong Woo-yeong (Friburgo/GER)</h5>
                 <h5 class="text-center font-bold text-red-600">Hwang In-beom (Olympiakos/GRE)</h5>
                 <h5 class="text-center font-bold text-red-600">Hwang Hee-chan (Wolverhampton)</h5>
                 <h5 class="text-center font-bold text-red-600">Song Min-kyu (Jeonbuk Motors)</h5>
                 <h5 class="text-center font-bold text-red-600">Son Jun-ho (Shandong Taishan)</h5>
                 <h5 class="text-center font-bold text-red-600">Na Sang-ho (FC Seúl)</h5>
                
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                 <h5 class="text-center font-bold text-red-600">Son Heung-min (Tottenham )</h5>
                 <h5 class="text-center font-bold text-red-600">Cho Gue-sung (Jeonbuk Motors)</h5>
                 <h5 class="text-center font-bold text-red-600 mb-4">Hwang Ui-jo (Olympiakos)</h5>
            ,  y 
            </div>

            <div class="mx-auto flex flex-col ">
                <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2">Portugal</h1>
                  <img class="w-72 h-48 rounded-md" src="https://tse3.mm.bing.net/th?id=OIP.w07kOVCGjDNTRTilBVs-OQHaEo&pid=Api&P=0" alt="">

                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                 <h5 class="text-center font-bold text-red-600">Diogo Costa (FC Porto)</h5>
                 <h5 class="text-center font-bold text-red-600">José Sá (Wolverhampton)</h5>
                 <h5 class="text-center font-bold text-red-600">Rui Patrício (Roma)</h5>

                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>
                 
                 <h5 class="text-center font-bold text-red-600">Diogo Dalot (Manchester United)</h5>
                 <h5 class="text-center font-bold text-red-600">João Cancelo (Manchester City)</h5>
                 <h5 class="text-center font-bold text-red-600">Danilo Pereira (PSG)</h5>
                 <h5 class="text-center font-bold text-red-600">Pepe (FC Porto)</h5>
                 <h5 class="text-center font-bold text-red-600">Rúben Dias (Manchester City)</h5>
                 <h5 class="text-center font-bold text-red-600">António Silva (Benfica)</h5>
                 <h5 class="text-center font-bold text-red-600">Nuno Mendes (PSG)</h5>
                 <h5 class="text-center font-bold text-red-600">Raphael Guerreiro (Dortmund)</h5>
                  
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                 <h5 class="text-center font-bold text-red-600">João Palhinha (Fulham)</h5>
                 <h5 class="text-center font-bold text-red-600">Rúben Neves (Wolverhampton)</h5>
                 <h5 class="text-center font-bold text-red-600">Bernardo Silva (Manchester City)</h5>
                 <h5 class="text-center font-bold text-red-600">Bruno Fernandes (Manchester United)</h5>
                 <h5 class="text-center font-bold text-red-600">João Mário (Benfica)</h5>
                 <h5 class="text-center font-bold text-red-600">Matheus Nunes (Wolverhampton)</h5>
                 <h5 class="text-center font-bold text-red-600">Otávio Monteiro (FC Porto)</h5>
                 <h5 class="text-center font-bold text-red-600">Vitinha (PSG)</h5>
                 <h5 class="text-center font-bold text-red-600">William Carvalho (Betis)</h5>
                 
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                 <h5 class="text-center font-bold text-red-600">Cristiano Ronaldo </h5>
                 <h5 class="text-center font-bold text-red-600">André Silva (RB Leipzig)</h5>
                 <h5 class="text-center font-bold text-red-600">Gonçalo Ramos (Benfica)</h5>
                 <h5 class="text-center font-bold text-red-600">João Félix (Atlético Madrid)</h5>
                 <h5 class="text-center font-bold text-red-600">Rafael Leão (Milán)</h5>
                 <h5 class="text-center font-bold text-red-600 mb-4">Ricardo Horta (SC Braga)</h5>
                
            </div>

            <div class="mx-auto flex flex-col ">
             <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2">Ghana</h1>
                  <img class="w-72 h-48 rounded-md" src="https://tse2.mm.bing.net/th?id=OIP.ZNGbdR5UzET9EJfz-PgqxgHaEK&pid=Api&P=0 font-semibold pb-px" alt="">

                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                 <h5 class="text-center font-bold text-red-600">Manaf Nurudeen (KAS Eupen)</h5>
                 <h5 class="text-center font-bold text-red-600">Danlad Ibrahim (Asante Kotoko)</h5>
                 <h5 class="text-center font-bold text-red-600">Lawrence Ati (St. Gallen 1879)</h5>
                 
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>
                 
                 <h5 class="text-center font-bold text-red-600">Denis Odoi (Brujas)</h5>
                 <h5 class="text-center font-bold text-red-600">Tariq Lamptey (Brighton)</h5>
                 <h5 class="text-center font-bold text-red-600">Alidu Seidu (Clermont Foot 63)</h5>
                 <h5 class="text-center font-bold text-red-600">Daniel Amartey (Leicester City)</h5>
                 <h5 class="text-center font-bold text-red-600">Joseph Aidoo (Celta)</h5>
                 <h5 class="text-center font-bold text-red-600">Alexander Djiku (Strasbourg)</h5>
                 <h5 class="text-center font-bold text-red-600">Mohammed Salisu (Southampton)</h5>
                 <h5 class="text-center font-bold text-red-600">Abdul-Rahman Baba (Reading)</h5>
                 <h5 class="text-center font-bold text-red-600">Gideon Mensah (Auxerre)</h5>
              
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                 <h5 class="text-center font-bold text-red-600">André Ayew (Al-Sadd)</h5>
                 <h5 class="text-center font-bold text-red-600">Thomas Partey (Arsenal)</h5>
                 <h5 class="text-center font-bold text-red-600">Elisha Owusu (Gent)</h5>
                 <h5 class="text-center font-bold text-red-600">Salis Abdul Samed (Lens)</h5>
                 <h5 class="text-center font-bold text-red-600">Mohammed Kudus (Ajax)</h5>
                 <h5 class="text-center font-bold text-red-600">Daniel-Kofi Kyereh (Friburgo)</h5>
  
                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                 <h5 class="text-center font-bold text-red-600">Daniel Afriyie (Accra Hearts)</h5>
                 <h5 class="text-center font-bold text-red-600">Kamal Sowah (Brujas)</h5>
                 <h5 class="text-center font-bold text-red-600">Abdul Fatawu(Sporting de Lisboa)</h5>
                 <h5 class="text-center font-bold text-red-600">Osman Bukari (Estrella Roja)</h5>
                 <h5 class="text-center font-bold text-red-600">Iñaki Williams (Athletic Club)</h5>
                 <h5 class="text-center font-bold text-red-600">Antoine Semenyo (Bristol City)</h5>
                 <h5 class="text-center font-bold text-red-600">Jordan Ayew (Crystal Palace)</h5>
                 <h5 class="text-center font-bold text-red-600 mb-4">Kamaldeen Sulemana (Rennes)</h5>
                
            </div>
            
        </div>

        </div>
 </div>
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
 </body>