<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-gray-300 mb-4">
    <div class="container flex-wrap ">
      <div class="row ">
        <div class="flex flex-row flex justify-center mt-2">
          <img class="mx-2 h-20 w-40 rounded-full"  src="https://3.bp.blogspot.com/-_2r3OvNIQK0/VS1jx7iINII/AAAAAAAABgc/zCKeh0BiGFg/s1600/BanderaDeQatar.png" alt="">

        <h1 class="text-6xl text-center mt-2  text-slate-50 text-red-900 font-bold font-serif ">Grupo A</h1>

        <img class="mx-2 h-20 w-40 rounded-full"  src="https://3.bp.blogspot.com/-_2r3OvNIQK0/VS1jx7iINII/AAAAAAAABgc/zCKeh0BiGFg/s1600/BanderaDeQatar.png" alt="">
        </div> 

        <div class="flex flex-row flex justify-center mt-4 flex space-x-4">
            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000">Home</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoB">Grupo B</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoC">Grupo C</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoD">Grupo D</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoE">Grupo E</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoF">Grupo F</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoG">Grupo G</a>

            <a class=" w-20 bg-red-900 text-gray-300 text-center rounded-lg font-semibold pb-px" href="http://127.0.0.1:3000/grupoH">Grupo H</a>
        </div>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://cdn.oem.com.mx/elesto/2019/01/futbol-mundial-qatar-2022-no-negocia-compartir-mundial-sus-vecinos-n349811-808x454-530198.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://www.futbolred.com/files/article_main/uploads/2018/07/13/5b489e7e27d4b.jpeg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://laopinion.com/wp-content/uploads/sites/3/2021/03/cuanto-cuesta-boletos-hospitalidad-qatar-2022-GettyImages-1292391536.jpg?quality=80&strip=all&w=1200" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://tse3.mm.bing.net/th?id=OIP.YD6u1KDQQO19thRh3vMmBAHaD4&pid=Api&P=0" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img class="h-80 w-4/5 mx-auto mt-2 rounded border-double border-4 border-red-600" src="https://noticias-ahora.com/wp-content/uploads/2019/09/Plantilla-Noticias-Ahora-Recovered-Recovered-Recovered-Recovered-5.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

        <div class="mx-auto mt-4  flex flex-row  bg-red-100 rounded-md " >
            <div class="mx-auto flex flex-col ">
                 <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2 underline">Qatar</h1>
                 <img class="w-72 h-48 rounded-md drop-shadow-xl" src="https://banderasmundo.es/wp-content/uploads/2017/09/qatar.png" alt="">

                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                 <h5 class="text-center font-bold text-red-600">Saad Al-Sheeb (Al-Sadd SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Meshaal Barsham (Al-Sadd SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Yousef Hassan (Al-Gharafa SC)</h5>

                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>
                 
                 <h5 class="text-center font-bold text-red-600">Jassem Gaber (Al-Arabi SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Ali Asad (Al-Sadd SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Assim Madibo (Al-Duhail SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Mohammed Waad (Al-Sadd SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Salem Al-Hajri (Al-Sadd SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Mostafa Tarek Mashaal (Al-Sadd SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Karim Boudiaf (Al-Duhail SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Abdulaziz Hatem (Al-Rayyan SC)</h5>

                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                 <h5 class="text-center font-bold text-red-600">Jassem Gaber (Al-Arabi SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Ali Asad (Al-Sadd SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Assim Madibo (Al-Duhail SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Mohammed Waad (Al-Sadd SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Salem Al-Hajri (Al-Sadd SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Mostafa Tarek Mashaal (Al-Sadd SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Karim Boudiaf (Al-Duhail SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Abdulaziz Hatem (Al-Rayyan SC)</h5>

                 <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                 <h5 class="text-center font-bold text-red-600">Naif Al-Hadhrami (Al-Rayyan SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Ahmed Alaaeldin (Al-Gharafa SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Hassan Al-Haydos (Al-Sadd SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Hassan Al-Haydos (Al-Sadd SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Akram Afif (Al-Sadd SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Almoez Ali (Al-Duhail SC)</h5>
                 <h5 class="text-center font-bold text-red-600">Mohammed Muntari (Al-Duhail SC)</h5>
                 <h5 class="text-center font-bold text-red-600 mb-4">Khalid Muneer Mazeed (Al-Wakrah SC)</h5>


                 
            </div>

            <div class="mx-auto flex flex-col  bg-red-100">
                  <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2 underline">Holanda</h1>
                  <img class="w-72 h-48 rounded-md" src="https://tse4.mm.bing.net/th?id=OIP.v34d5F75YjpvtrsARxCutQHaE7&pid=Api&P=0" alt="">

                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                  <h5 class="text-center font-bold text-red-600 ">Justin Bijlow (Feyenoord)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Remko Pasveer (Ajax)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Andries Noppert (Heerenveen)</h5>
                
                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>

                  <h5 class="text-center font-bold text-red-600 ">Virgil van Dijk (Liverpool)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Nathan Aké (Manchester City)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Daley Blind (Ajax)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Jurriën Timber (Ajax)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Denzel Dumfries (Inter)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Stefan de Vrij (Inter)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Mathijs de Ligt (Bayern Múnich)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Tyrell Malacia (Manchester United)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Jeremie Frimpong (Bayer Leverkusen)</h5>

                  
                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                  <h5 class="text-center font-bold text-red-600 ">Frenkie de Jong (FC Barcelona)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Steven Berghuis (Ajax)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Davy Klaassen (Ajax)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Teun Koopmeiners (Atalanta)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Cody Gakpo (PSV)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Marten de Roon (Atalanta)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Kenneth Taylor (Ajax)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Xavi Simons (PSV)</h5>

                  

                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                  <h5 class="text-center font-bold text-red-600 ">Memphis Depay (FC Barcelona)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Steven Bergwijn (Ajax)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Vincent Janssen (Amberes)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Luuk de Jong (PSV)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Noa Lang (Brujas)</h5>
                  <h5  class="text-center font-bold text-red-600 ">Wout Weghorst (Besiktas)</h5>

                    
            
            </div>

            <div class="mx-auto flex flex-col ">
                <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2 underline">Senegal</h1>
                  <img class="w-72 h-48 rounded-md" src="https://i.pinimg.com/originals/7b/c1/89/7bc1893beb756da09da97b631172e659.png" alt="">

                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                  <h5 class="text-center font-bold text-red-600 ">Edouard Mendy (Chelsea)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Alfred Gomis (Stade Rennes)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Seny Dieng (Queens Park Rangers)</h5>

                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>

                  <h5 class="text-center font-bold text-red-600 ">Kalidou Koulibalu (Chelsea)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Abdou Diallo (RB Leipzig)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Youssouf Sabaly (Betis)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Fode Ballo Toure (Milan)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Pape Abou Cisse (Olympiacos)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Ismail Jakobs (Mónaco)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Formose Mendy (Amiens)</h5>

                  

                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                  <h5 class="text-center font-bold text-red-600 ">Idrissa Gueye (Everton)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Cheikhou Kouyate (Nottingham Forest)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Nampalys Mendy (Leicester)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Krepin Diatta (Mónaco)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Pape Gueye (Olympique Marsella)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Pape Matar Sarr (Tottenham)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Pathé Ciss (Rayo Vallecano)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Moustapha Name (Pafos)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Loum Ndiaye (Reading)</h5>

                  <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                  <h5 class="text-center font-bold text-red-600 ">Sadio Mané (Bayern Munich)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Ismaila Sarr (Watford)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Boulaye Dia (Salernitana)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Bamba Dieng (Olympique Marsella)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Famara Diedhiou (Alanyaspor)</h5>
                  <h5 class="text-center font-bold text-red-600 ">Nicolas Jackson (Villarreal)</h5>
                  <h5  class="text-center font-bold text-red-600 ">Iliman Ndiaye (Sheffield United)</h5>

            </div>

            <div class="mx-auto flex flex-col ">
             <h1 class="text-center font-bold text-2xl text-red-900 font-serif mb-2 mt-2 underline">Senegal</h1>
                  <img class="w-72 h-48 rounded-md" src="https://todoimagenes.co/wp-content/uploads/2019/03/bandera_ecuador.png" alt="">

                   <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Arqueros</h1>

                   <h5 class="text-center font-bold text-red-600 ">Alexander Domínguez (Liga de Quito)</h5>
                   <h5 class="text-center font-bold text-red-600 ">Hernán Galíndez (Aucas)</h5>
                   <h5 class="text-center font-bold text-red-600 ">Moisés Ramírez (Independiente)</h5> 

                   <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Defensas</h1>

                   <h5 class="text-center font-bold text-red-600 ">Ángelo Preciado (Genk)</h5>
                   <h5 class="text-center font-bold text-red-600 ">William Pacho (Royal Antwerp)</h5>
                   <h5 class="text-center font-bold text-red-600 ">Robert Arboleda (Sao Paulo)</h5>
                   <h5 class="text-center font-bold text-red-600 ">Jackson Porozo (Troyes)</h5>
                   <h5 class="text-center font-bold text-red-600 ">Félix torres (Santos Laguna)</h5>
                   <h5 class="text-center font-bold text-red-600 ">Piero Hincapié (Bayer Leverkusen)</h5>
                   <h5 class="text-center font-bold text-red-600 ">Xavier Arreaga (Seattle Sounders),</h5>
                   <h5 class="text-center font-bold text-red-600 ">Pervis Estupiñán (Brighton)</h5>
                   <h5 class="text-center font-bold text-red-600 ">Diego Palacios (LAFC)</h5>

                   <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Mediocampistas</h1>

                   <h5 class="text-center font-bold text-red-600 ">Moisés Caicedo (Brighton)</h5>
                   <h5 class="text-center font-bold text-red-600 ">Carlos Gruezo (Augsburgo)</h5>
                   <h5 class="text-center font-bold text-red-600 ">Jhegson Méndez (LAFC)</h5>
                   <h5 class="text-center font-bold text-red-600 ">Alan Franco (Talleres)</h5>
                   <h5 class="text-center font-bold text-red-600 ">José Cifuentes (LAFC)</h5>
                   <h5 class="text-center font-bold text-red-600 ">Ángel Mena (León)</h5>
                   <h5 class="text-center font-bold text-red-600 ">Gonzalo Plata (Valladolid)</h5>
                   <h5 class="text-center font-bold text-red-600 ">Jeremy Sarmiento (Brighton)</h5>
                   <h5 class="text-center font-bold text-red-600 ">Romario Ibarra (Pachuca)</h5>
                   <h5 class="text-center font-bold text-red-600 ">Ayrton Preciado (Santos)</h5>

                   <h1 class="mt-1 mb-1 text-center text-2xl font-semibold text-red-900 font-serif underline">Delanteros</h1>

                   <h5 class="text-center font-bold text-red-600 ">Énner Valencia (Fenerbahçe)</h5>
                   <h5 class="text-center font-bold text-red-600 ">Michael Estrada (Cruz Azul)</h5>
                   <h5 class="text-center font-bold text-red-600 ">Djorkaeff Reasco (Newell’s Old Boys)</h5>
                   
            </div>
            
        </div>

        </div>
 </div>
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
 </body>
    